main {
  width: 60%;
  height: 47.5rem;
  z-index: 2;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0, 0.15),
    rgb(255, 255, 255, 0.15)
  );
  border-radius: .75rem;
  backdrop-filter: blur(6.25rem);
  padding: 1.25rem;

  header {
    position: relative;
    margin-bottom: 1.5rem;
    @include d_flex(space-between, center, null, .5rem);

    // 城市快選
    .quick-city {
      position: relative;
      width: auto;
      flex-shrink: 0;

      button {
        background: rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 35%;
        width: 4.5rem;
        height: 4.5rem;
        cursor: pointer;
        color: #fff;
        @extend %flex_c;

        &:focus,&:hover {
          border: .25rem solid rgba(0, 0, 0, 0.15);
        }

        span {
          font-size: 3rem;
        }
      }

      ul {
        display: none;
        position: absolute;
        top: calc(100% + 1rem);
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(.5rem);
        border-radius: 2rem;
        overflow: hidden;
        z-index: 10;
        min-width: 17.5rem;
        padding: 0.5rem;
        gap: 0.5rem;

        &.active {
          display: flex;
          flex-direction: column;
        }

        li {
          @include d_flex(space-between, center, null, 1.25rem);
          padding: .625rem 1rem;
          cursor: pointer;
          color: #000;
          white-space: nowrap;
          border-radius: 1.75rem;

          svg {
            width: 5rem;
            height: 5rem;
            flex-shrink: 0;
            border: #000;
          }

          span {
            font-size: 1.5rem;
          }
  
          &:hover {
            background: rgba(255, 255, 255, 0.75);
          }
        }
      }

    }

    .search-wrap {
      flex: 1;
      min-width: 0;
      position: relative;

      input {
        width: 100%;
        padding: 1rem 1.5rem;
        border-radius: 6.25rem;
        border: .25rem solid transparent;
        background: rgba(0, 0, 0, 0.15);
        outline: none;
        font-weight: bold;
        transition: 0.25s border;
        padding-right: 3rem;
        font-size: 1.5rem;
        color: #fff;
  
        &:focus,&:hover {
          border: .25rem solid rgba(0, 0, 0, 0.15);
        }
  
        &::placeholder {
          color: rgba(255, 255, 255, 0.75);
          font-size: 1.25rem;
        }
      }

      button {
        @include position($t: 50%, $r: 1rem);
        transform: translateY(-50%);
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        span {
          color: #fff;
          &.material-symbols-outlined {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  section {
    &.weather-info {
      @include d_flex($ff: column, $g: 1rem);
      padding: 0 2rem;

      .location-date-container,
      .weather-summary-container,
      .weather-conditions-container {
        @include d_flex(space-between, center);
      }

      .location-date-container,
      .weather-summary-container {
        font-size: 3rem;
      }

      .weather-conditions-container {
        font-size: 1.5rem;
      }

      .location,
      .condition-item {
        @include d_flex($ai: center, $g: .375rem);

        span.material-symbols-outlined {
          font-size: 2.5rem; 
        }
      }

      .weather-icon {
        width: 15rem;
        height: 15rem;
      }

      .weather-summary-info {
        text-align: end;
      }
      
      .condition-item span {
        font-size: 5rem;
      }

      // 預報項目容器
      .forecast-items-container {
        display: flex;
        gap: 3.5rem;
        overflow-x: scroll;
        padding-bottom: 1.5rem;

        // 捲軸樣式
        &::-webkit-scrollbar {
          height: 1rem;

          &-track {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 6.25rem;
          }

          &-thumb {
            background: rgba(0, 0, 0, 0.15);
            border-radius: 6.25rem;
          }
        }

        // 預報項目
        .forecast-item {
          min-width: 17.5rem;
          background: rgba(255, 255, 255, 0.1);
          @include d_flex($ff: column, $g: .375rem);
          padding: .625rem;
          align-items: center;
          border-radius: .75rem;
          transition: 0.3s background;
          font-size: 1.25rem;

          &:hover {
            background: rgba(255, 255, 255, 0.25);
          }

          .forecast-item-icon {
            display: flex;
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }

    &.section-message {
      @include d_flex($ai: center, $ff: column, $g: .75rem);
      text-align: center;
      margin-top: 5%;

      img {
        width: auto;
        max-height: 30rem;
        min-width: 100%;;
        object-fit: contain;
      }
      div {
        font-weight: bold;
        h1 {
          font-size: 2rem; 
          margin-bottom: .5rem;
        }
        
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
  
  @include respond(bigPad) {
    section {
      &.weather-info {
        .location-date-container,
        .weather-summary-container {
          font-size: 2rem;
        }
        .forecast-items-container {
          gap: 2.5rem;
          .forecast-item {
            min-width: 12rem;
          }
        }
      }
      &.section-message {
        img {
          max-height: 25rem;
        }
      }
    }
  }
  @include respond(pad) {
    section {
      &.weather-info {
        gap: 2rem;

        .location-date-container,
        .weather-summary-container {
          font-size: 1.75rem;
        }

        .weather-conditions-container {
          font-size: 1.25rem;
        }

        .weather-icon {
          width: 13rem;
          height: 13rem;
        }

        .condition-item span {
          font-size: 4rem;
        }

        .forecast-items-container {
          gap: 1.75rem;
          .forecast-item {
            min-width: 9rem;
          }
        }
      }
      &.section-message {
        img {
          max-height: 20rem;
        }
      }
    }
  }
  @include respond(mobile) {
    width: 85%;
    height: 40rem;

    header {
      .quick-city {
        button {
          width: 3.125rem;
          height: 3.125rem;

          span {
            font-size: 2.5rem;
          }
        }
      }
      .search-wrap {   
        input {  
          padding: .5rem 1rem;
          font-size: 1.25rem;
          &::placeholder {
            font-size: 0.8rem;
          }
        }
        button {
          span {
            &.material-symbols-outlined {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    section {
      &.weather-info {
        padding: 0;
        gap: 1rem;

        .location-date-container,
        .weather-summary-container {
          font-size: 1.25rem;
        }

        .weather-conditions-container {
          font-size: 1rem;
        }

        .weather-icon {
          width: 10rem;
          height: 10rem;
        }

        .condition-item span {
          font-size: 3rem;
        }

        .forecast-items-container {
          gap: 1rem;
          .forecast-item {
            min-width: 9rem;
            .forecast-item-icon {
              width: 4rem;
              height: 4rem;
            }
          }
        }
      }
    }

  }
}
